## Часть 1: Введение в Pandas

Pandas - это библиотека Python для работы с данными. Она предоставляет мощные инструменты для анализа и манипуляции данными.

### Установка Pandas

Для начала убедитесь, что у вас установлена библиотека Pandas. Если ее нет, установите ее с помощью команды:

In [1]:
!pip install pandas

"pip" �� ���� ����७��� ��� ���譥�
��������, �ᯮ��塞�� �ணࠬ��� ��� ������ 䠩���.

## Импорт библиотеки
Давайте начнем с импорта библиотеки Pandas:

In [2]:
import pandas

## Часть 2: Работа с данными
### Чтение данных
Мы будем использовать датасет Titanic. Давайте прочитаем данные из CSV файла.

In [3]:
# Чтение данных из файла 'titanic.csv'
# Используйте метод pd.read_csv()
# write your code here
import pandas as pd

read_file = pd.read_csv('titanic.csv')

### Предпросмотр данных
Для первого ознакомления с данными давайте выведем первые несколько строк.

In [4]:
# Вывод первых 5 строк данных
# Используйте метод .head()
# write your code here
import pandas as pd
read_file = pd.read_csv('titanic.csv')
print(read_file.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

### Информация о данных
Чтобы получить общую информацию о данных, воспользуйтесь методом .info().

In [5]:
import pandas as pd
read_file = pd.read_csv('titanic.csv')
read_file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

### Работа с NaN
Часто данные содержат пропущенные значения, которые представляются как NaN (Not a Number). Pandas предоставляет удобные методы для работы с ними.

Проверка на наличие NaN. Методы fillna и dropna возвращают новые Dataframe, проверьте нет ли в них NaN

In [6]:
# Проверка на наличие NaN в DataFrame
# Используйте метод .isna()
# write your code here
import pandas as pd
read_file = pd.read_csv('titanic.csv')

has_nan = read_file.isnull().values.any()
print(has_nan)

True

Заполнение NaN

In [7]:
# Заполнение NaN определенным значением (например, нулем)
# Используйте метод .fillna()
# write your code here
import pandas as pd
read_file = pd.read_csv('titanic.csv')
read_file = read_file.fillna(0)

has_nan = read_file.isnull().values.any()
print(has_nan)

False

Удаление строк с NaN

In [8]:
# Удаление строк, содержащих NaN
# Используйте метод .dropna()
# write your code here
import pandas as pd
read_file = pd.read_csv('titanic.csv')

read_file = read_file.dropna()

has_nan = read_file.isnull().values.any()
print(has_nan)

False

## Часть 3: Обработка DataFrame
### Выбор данных
Pandas позволяет выбирать данные по индексам, меткам столбцов и условиям.

In [9]:
# Выбор столбца по метке
# Используйте синтаксис DataFrame['название_столбца']
# write your code here
import pandas as pd
read_file = pd.read_csv('titanic.csv')
column = read_file['Age']
print(column) 

# Выбор нескольких столбцов
# Используйте синтаксис DataFrame[['столбец_1', 'столбец_2']]
# write your code here
columns = read_file[['Sex', 'Name']]
print(columns)

# Выбор строк по индексу
# Используйте метод .loc[]
# write your code here
rows = read_file.loc[5:10]
print(rows)

# Выбор строк и столбцов по условию
# Используя логические операции, выберите мужчин старше 30
# write your code here
men_after30 = read_file.loc[(read_file['Sex'] == 'male') & (read_file['Age'] > 30)]
print(men_after30)

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64
        Sex                                               Name
0      male                            Braund, Mr. Owen Harris
1    female  Cumings, Mrs. John Bradley (Florence Briggs Th...
2    female                             Heikkinen, Miss. Laina
3    female       Futrelle, Mrs. Jacques Heath (Lily May Peel)
4      male                           Allen, Mr. William Henry
..      ...                                                ...
886    male                              Montvila, Rev. Juozas
887  female                       Graham, Miss. Margaret Edith
888  female           Johnston, Miss. Catherine Helen "Carrie"
889    male                              Behr, Mr. Karl Howell
890    male                                Dooley, Mr. Patrick

[891 rows x 2 columns]
    PassengerId  Survived  Pclass  \
5             6         0       3
6             7         0       1
7             8         0       3
8             9         1       3
9            10         1       2
10           11         1       3

                                                 Name     Sex   Age  SibSp  \
5                                    Moran, Mr. James    male   NaN      0
6                             McCarthy, Mr. Timothy J    male  54.0      0
7                      Palsson, Master. Gosta Leonard    male   2.0      3
8   Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                 Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1
10                    Sandstrom, Miss. Marguerite Rut  female   4.0      1

    Parch   Ticket     Fare Cabin Embarked
5       0   330877   8.4583   NaN        Q
6       0    17463  51.8625   E46        S
7       1   349909  21.0750   NaN        S
8       2   347742  11.1333   NaN        S
9       0   237736  30.0708   NaN        C
10      1  PP 9549  16.7000    G6        S
     PassengerId  Survived  Pclass                                  Name  \
4              5         0       3              Allen, Mr. William Henry
6              7         0       1               McCarthy, Mr. Timothy J
13            14         0       3           Andersson, Mr. Anders Johan
20            21         0       2                  Fynney, Mr. Joseph J
21            22         1       2                 Beesley, Mr. Lawrence
..           ...       ...     ...                                   ...
867          868         0       1  Roebling, Mr. Washington Augustus II
872          873         0       1              Carlsson, Mr. Frans Olof
873          874         0       3           Vander Cruyssen, Mr. Victor
881          882         0       3                    Markun, Mr. Johann
890          891         0       3                   Dooley, Mr. Patrick

      Sex   Age  SibSp  Parch    Ticket     Fare        Cabin Embarked
4    male  35.0      0      0    373450   8.0500          NaN        S
6    male  54.0      0      0     17463  51.8625          E46        S
13   male  39.0      1      5    347082  31.2750          NaN        S
20   male  35.0      0      0    239865  26.0000          NaN        S
21   male  34.0      0      0    248698  13.0000          D56        S
..    ...   ...    ...    ...       ...      ...          ...      ...
867  male  31.0      0      0  PC 17590  50.4958          A24        S
872  male  33.0      0      0       695   5.0000  B51 B53 B55        S
873  male  47.0      0      0    345765   9.0000          NaN        S
881  male  33.0      0      0    349257   7.8958          NaN        S
890  male  32.0      0      0    370376   7.7500          NaN        Q

[202 rows x 12 columns]

### Сортировка данных
Сортировка данных по значениям столбцов.

In [10]:
# Сортировка данных по столбцу 'столбец_1' по возрастанию
# Используйте метод .sort_values()
# write your code here
import pandas as pd
read_file = pd.read_csv('titanic.csv')

column_age = read_file['Age']
sorted_age = column_age.sort_values()
print(sorted_age)

803    0.42
755    0.67
469    0.75
644    0.75
78     0.83
       ...
859     NaN
863     NaN
868     NaN
878     NaN
888     NaN
Name: Age, Length: 891, dtype: float64

### Группировка данных
Pandas также позволяет группировать данные и выполнять агрегирующие операции.

In [11]:
# Найдите долю выживших среди всех PClass
# Используйте метод .groupby()
# write your code here
import pandas as pd

read_file = pd.read_csv('titanic.csv')

survival_rate = read_file.groupby('Pclass')['Survived'].mean()
print(survival_rate)

Pclass
1    0.629630
2    0.472826
3    0.242363
Name: Survived, dtype: float64

## Часть 4: Задания для практики
Прочитайте данные из файла 'titanic.csv'.
Проверьте, есть ли пропущенные значения в данных и заполните их нулями.
Выведите первые 10 строк данных.
Выберите только те строки, где значение в столбце 'Age' больше 30.
Отсортируйте данные по столбцу 'Fare' в порядке убывания.
Сгруппируйте данные по столбцу 'Pclass' и вычислите средний возраст ('Age') для каждого класса.

In [12]:
import pandas as pd
read = pd.read_csv('titanic.csv')

#Проверка на NAN и замена всех NAN значений на нули
has_nan = read_file.isnull().values.any()
if has_nan:
    read = read_file.fillna(0)

#Вывод первых 10 строк
print(read.head(10))

###Строки, возраст которых > 30

age_filtered = read[read['Age'] > 30]

#Сортировка по убыванию столбца Fare
sorted_read = age_filtered.sort_values(by='Fare', ascending=False)

#Группировка по Pclass и вычисление среднего возраста
mean_age_by_class = read.groupby('Pclass')['Age'].mean()

print(mean_age_by_class)

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3
5            6         0       3
6            7         0       1
7            8         0       3
8            9         1       3
9           10         1       2

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0
5                                   Moran, Mr. James    male   0.0      0
6                            McCarthy, Mr. Timothy J    male  54.0      0
7                     Palsson, Master. Gosta Leonard    male   2.0      3
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500     0        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250     0        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500     0        S
5      0            330877   8.4583     0        Q
6      0             17463  51.8625   E46        S
7      1            349909  21.0750     0        S
8      2            347742  11.1333     0        S
9      0            237736  30.0708     0        C
Pclass
1    32.923241
2    28.091467
3    18.177026
Name: Age, dtype: float64